html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: roboto;
}
.wrapper {
  padding: 30px 40px;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  text-decoration: underline;
}
h3 {
  font-size: 1.8rem;
  text-align: center;
}
h4 {
  font-size: 1.6rem;
}
p {
  font-size: 1.6rem;
  line-height: 2;
}
.image-container img {
  max-width: 100%;
}
.personal-image img {
  width: 100px;
  border-radius: 50px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
button {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
}
button:hover {
  background-color: black;
  color: white;
}
.checked {
  color: orange;
}
.social-link {
  padding: 10px;
  font-size: 15px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-solid {
  font-size: 50px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px 0 40px;
}
@media screen and (max-width: 750px) {
  .nav-container {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .nav-container .logo {
    text-align: center;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 750px) {
  .nav-container div {
    text-align: center;
  }
}
.nav-container .tabs {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  padding-right: 20px;
}
.nav-container .tabs:hover {
  color: darkblue;
  font-weight: 700;
}
.nav-container .tabs:last-of-type {
  color: blue;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 5px 20px;
  background-color: grey;
  border-radius: 5px;
}
.nav-container .tabs:last-of-type:hover {
  color: green;
  font-weight: 700;
}
.flex div {
  width: 49%;
  margin-bottom: 20px;
}
.flex div.tacos-image {
  background-image: url("../assets/images/tasty-tacos.jpg");
  background-size: cover;
  background-position: center;
  height: 325px;
}
.flex div.text {
  padding: 65px 20px;
}
.flex2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 120px;
}
.flex2 .text {
  margin-top: 30px;
  padding: 0 20px;
  text-align: center;
}
.flex2 div {
  width: 49%;
  margin: 0 auto;
}
.flex2 button {
  margin-top: 50px;
}
.reviews {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 60px 0;
}
.reviews div {
  width: 27%;
  background-color: #F5F5F5;
}
.reviews .personal-image {
  padding: 10px 0 30px 70px;
}
.reviews button {
  margin: 30px 0 0 110px;
}
div.city-image {
  background-image: url("../assets/images/city-view.jpg");
  background-size: cover;
  background-position: center;
  height: 175px;
  margin-bottom: 10px;
}
.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newsletter .subscribe {
  display: flex;
}
.newsletter .email {
  color: grey;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 10px 100px 10px 5px;
  border: 1px solid black;
  margin: 0 5px;
}
.operators h2 {
  padding-top: 90px;
  padding-bottom: 20px;
}
.operators p {
  padding-bottom: 30px;
}
.options {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.options .operator-options {
  width: 48%;
}
.options .options-image {
  text-align: center;
}
.options h3 {
  padding: 10px;
}
.operator-sign-up {
  padding: 20px 0 60px 350px;
}
