.flex {
    div {
        width: 49%;
        margin-bottom: 20px;

    }

    div.tacos-image {

        background-image: url("./../assets/images/tasty-tacos.jpg");
        background-size: cover;
        background-position: center;
        height: 325px;
    }

    div.text {
        padding: 65px 20px;
    }
}

.flex2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 120px;

    .text {
        margin-top: 30px;
        padding: 0 20px;
        text-align: center;
    }

    div {
        width: 49%;
        margin: 0 auto;
    }

    button {
        margin-top: 50px;
    }
}

.reviews {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 60px 0;

    div {
        width: 27%;
        background-color: #F5F5F5;
    }

    .personal-image {
        padding: 10px 0 30px 70px;

    }

    button {
        margin: 30px 0 0 110px;
    }
}

div.city-image {

    background-image: url("./../assets/images/city-view.jpg");
    background-size: cover;
    background-position: center;
    height: 175px;
    margin-bottom: 10px;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .subscribe{
        display: flex;
    }
    .email{
        color: grey;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        padding: 10px 100px 10px 5px;
        border: 1px solid black;   
        margin: 0 5px; 
    }
}

.operators{
    h2{
        padding-top: 90px;
        padding-bottom: 20px;
    }
    p{
        padding-bottom: 30px;
    }
}
.options{
 display: flex; 
 justify-content: space-between;  
 padding-top: 40px;
 .operator-options{
    width: 48%;
 }
 .options-image{
text-align: center;
 }
 h3{
    padding: 10px;
 }
}
.operator-sign-up{
padding: 20px 0 60px 350px;
}

